/*************************************
    MAIN CSS
*/

body {
  margin-bottom: 20px;
}
.container {
  text-align: center;
  margin-top: 100px;
}
.container.grey {
  background-color: #f9f9f9;
}
#lezioni img,
#steps img {
  height: 200px;
  margin-top: 20px;
}
#why img {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-top: 50px;
}
h3 {
  margin: 1em 0;
}
hr {
  margin: 0.5em;
}

/*************************************
    MEDIUM SCREEN
*/

@media screen and (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 90%;
  }
  .container {
    padding: 0 5px;
    margin-top: 50px;
  }
  #steps [class*="col-md-"]:last-child {
    margin-top: 40px;
  }
  #lezioni img,
  #steps img {
    height: 140px;
  }
  #why img {
    height: 170px;
    margin-top: 30px;
  }
}

/*************************************
    SMALL SCREEN
*/

@media screen and (max-width: 768px) {
  body {
    font-size: 75%;
  }
  .container {
    padding: 0 5px;
    margin-top: 10px;
  }
  #lezioni .container,
  #why .container {
    background-color: #f0f1c2;
  }
  #lezioni img,
  #steps img {
    height: 80px;
  }
  #why img {
    height: 80px;
    padding: 20px;
    margin-top: 20px;
  }
  h3 {
    margin: 0;
  }
  hr {
    margin: 0;
  }
}
